NEXT_PUBLIC_API_BASE_URL=https://neurostream-00qg.onrender.com
NEXT_PUBLIC_MS1_BASE_URL=http://localhost:8081
NEXT_PUBLIC_MS2_BASE_URL=https://neurostream-1.onrender.com
NEXT_PUBLIC_MS3_BASE_URL=https://neurostream-ciiu.onrender.com
NEXT_PUBLIC_MS5_BASE_URL=https://neurostreamms5.onrender.com
NEXT_PUBLIC_MS6_BASE_URL=https://neurostreamms6.onrender.com
NEXT_PUBLIC_MS7_BASE_URL=https://neurostreamms7.onrender.com
